/.project
/.buildpath
/.settings/
/composer.phar
/composer.lock
/php-cs-fixer.phar
/vendor
/nbproject
/Resources/doc/generated

*.tmp
*.patch
*.log*
*.swp
.*.s[a-w][a-z]
*.bak
*.DS_Store
.#*

phpunit.xml

.vagrant
Vagrantfile

