language: php
php:
    - 5.3
    - 5.4
    - 5.5
    - hhvm
env:
  - SYMFONY_VERSION="2.3.*"
  - SYMFONY_VERSION="2.4.*"

install:
  - composer require symfony/framework-bundle:${SYMFONY_VERSION}  

script: phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover

matrix:
  allow_failures:
    - php: 5.5
    - php: hhvm
